* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
    background-color:white;
}


.app-heading{
    display: flex;
    justify-content: center;
    color: purple;
}

.card--image {
    width: 450px;
    height: 300px;
    padding: 20px;
    margin: 20px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 4px 4px 2px 1px rgba(0, 0, 255, .2);
    border: 5px solid white;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-top: 20px;
    padding-bottom: 20px;
}

form.dark{
    background-color: rgb(45, 28, 75);
}

.form--name{
    margin: 5px;
}

.form--city{
    margin: 5px;
}

.form--img{
    margin: 5px;
}

.form--rating{
    margin: 5px;
}

.add-btn{
    background-color: purple;
    border-color: purple;
    color: white;
    border-radius: 12px;
    padding: 5px;
    cursor: pointer;
}

.card--info{
    font-weight: bold;
    display: flex;
    padding-left: 40px;
    justify-content: center;
    background-color: yellow;
    margin: 20px;
    border-radius: 20px;
}

.btn-danger {
    background-color: purple;
    color: white;
    border-color: purple;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    margin-left: 40px;
    justify-content: center;
    margin-bottom: 20px;
    
}

.card-area{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

main.dark{
    background-color:rgb(45, 28, 75);
}

.toggler {
    display: flex;
    align-items: center;
}

.toggler p {
    font-size: 0.625rem;
    font-weight: 600;
}

.toggler--slider {
    width: 25px;
    height: 13px;
    background-color: #2B283A;
    border-radius: 2rem;
    margin-inline: 7px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    box-sizing: content-box;
}
nav {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 30px 25px;
    height: 60px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}
nav.dark {
    background-color: rgb(45, 28, 75);
}

nav.dark .toggler--slider {
    border-color: white;
    background-color: #F5F5F5;
}

.toggler--slider--circle {
    height: 13px;
    width: 13px;
    background-color: white;
    border-radius: 50%;
}

nav.dark .toggler--slider--circle {
    background-color: black;
}

.toggler--light {
    color: #2B283A;
}

nav.dark .toggler--light {
    color: #918E9B;
}

.toggler--dark {
    color: #D5D4D8;
}

nav.dark .toggler-dark {
    color: #FFFFFF;
}

nav.dark .toggler--slider {
    justify-content: flex-end;
}

.search {
    display: flex;
}

#search-bar.dark{
    background-color: rgb(45, 28, 75);
}

.search-bar {
    display: flex;
    margin-left: 20px;
    border-radius:8px;
}

.search-btn {
    border-radius: 8px;
    background-color: #800080;
    border-color: purple;
    color: white;
    cursor: pointer;
    margin-bottom: 0px;
    display: flex;
    
}

.fa-solid.fa-star {
    font-size: 35px;
    display: flex;
    margin-left: 50px;
    cursor: pointer;
    align-items: center;
}
    